.modal-enter {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, .9);

  &--open {
    display: block;
  }

  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    width: 403px;
    height: 477px;
    background-color: #fff;

    p {
      margin-bottom: 30px;
    }

    a {
      width: fit-content;
      margin-bottom: 30px;
      font-size: 15px;
      color: $main-color;
      border-bottom: 1px dotted $main-color;

      &:nth-child(6) {
        margin-bottom: 0;
      }
    }

    & .close-btn {
      position: absolute;
      top: 5px;
      right: -44px;
      padding: 0;
      width: 21px;
      height: 21px;
      border: 0;
      outline: 0;
      background-color: transparent;
    }
  }

  &__input {
    margin-bottom: 20px;
    padding-left: 20px;
    height: 60px;
    box-shadow: inset 0 0 2px #000;
  }

  &__btn {
    border: 0;
    margin-bottom: 40px;
    padding: 0;
    height: 60px;
    font-size: 20px;
    background-color: $attention-color;
    color: #fff;
    box-shadow: 2px 2px 5px $gray-darker;
  }
}
