.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 55px;
  background-color: #fff;

  @media (min-width: $screen-lg) {
    height: 67px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    width: 100%;

    @media (min-width: $screen-lg) {
      position: relative;
      margin: 0 auto;
      padding: 12px 0;
      width: 1240px;
    }
  }

  &__logo {

    svg {

      @media (min-width: $screen-lg) {
        width: 293px;
        height: 43px;
      }
    }
  }

  &__btn {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      color: $main-color;
      background-color: transparent;
      cursor: pointer;
    }

    &--login {
      width: 93px;
      height: 36px;
      border: 2px solid $main-color;
    }

    &--help {
      border: 0;
      outline: 0;
      padding-bottom: 10px;
    }
  }
}
