.search {
  position: relative;
  padding: 105px 0 75px;
  overflow: hidden;

  @media (min-width: $screen-lg) {
    padding: 165px 0 120px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(20, 126, 190, .6), rgba(20, 126, 190, .6)),url(../img/search-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $main-color;
    filter: blur(3.2px);
    z-index: -1;
  }

  &__container {
    padding: 0 15px;
    width: 100%;

    @media (min-width: $screen-lg) {
      margin: 0 auto;
      padding: 0;
      width: 960px;
    }
  }

  &__text {
    margin-bottom: 25px;
    font-size: 21px;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 5px #000;

    @media (min-width: $screen-lg) {
      text-align: left;
      font-size: 36px;
    }

    &--desktop {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
        text-shadow: none;
        font-size: 15px;
        opacity: 0.8;
      }
    }
  }
}
