.services {
  border-bottom: 1px solid $gray;

  &:nth-child(3n+1) {

    .services__col-img {
      order: 1;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 75px 0;
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;

    @media (min-width: $screen-md) {
      width: 760px;
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      width: 960px;
    }
  }

  &__row {

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      margin: 0 -20px;
    }
  }

  &__col {

    @media (min-width: $screen-lg) {
      padding: 0 20px;
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0 10px 5px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
      padding: 0;
    }

    svg {

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        margin-left: auto;
        fill: $main-color;
      }

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    // &::after {
    //   position: absolute;
    //   right: 0;
    //   display: block;
    //   content: '';
    //   width: 8px;
    //   height: 7px;
    //   background-image: url(../img/triangle.png);

    //   @media (min-width: $screen-lg) {
    //     display: none;
    //   }
    // }
  }

  &__arrow {

      &--active {
        transform: rotate(180deg);
      }
    }

  &__img-wrap {
    display: none;

    @media (min-width: $screen-lg) {
      position: relative;
      display: flex;
      background-color: $main-color;
      overflow: hidden;
    }

    img {
      filter: blur(3.2px);
    }
  }

  &__blur {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(58, 128, 191, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    color: $main-color;
    border-bottom: 1px dotted $main-color;

    @media (min-width: $screen-lg) {
      margin-bottom: 30px;
      font-size: 24px;
      color: #000;
      border-bottom: 0;
    }

    a {
      font-size: 18px;
      color: $main-color;

      @media (min-width: $screen-lg) {
        font-size: 24px;
        text-decoration: underline;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }

  &__descr {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }

    p {
      margin-bottom: 20px;
    }

    &--desktop {
      display: none;

      @media (min-width: $screen-lg) {
        display: block;
      }
    }

    &--active {
      display: block;
    }
  }

  &__descr-attention {
    font-size: 12px;
    font-weight: 700;
    color: $attention-color;
    text-transform: uppercase;
  }
}
