.toggle {
  position: relative;
  padding: 0;
  border: 0;
  outline: 0;
  max-height: 15px;
  background-color: transparent;


  span {
    display: inline-block;
    margin-bottom: 5px;
    width: 19px;
    height: 3px;
    background-color: $main-color;

    &:after,
    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 19px;
      height: 3px;
      background-color: $main-color;
    }

    &:after {
      top: 0;
    }

    &:before {
      bottom: 0;
    }
  }

  &--close {
    width: 17px;
    min-height: 17px;

    span {
      width: 0;
      background-color: #fff;

      &:before {
        top: 6px;
        right: -1px;
        transform: rotate(45deg);
      }

      &:after {
        top: 6px;
        left: -1px;
        transform: rotate(-45deg);
      }
    }
  }
}
