$main-color     :     #147ebe;
$attention-color:     #d30531;
$gray           :     #cedae4;
$gray-lighter   :     #e6ecf1;
$gray-darker    :     #969696;
$font-family    :     'PT Sans Caption', Helvetica Neue, sans-serif;
$screen-sm      :     320px;
$screen-md      :     840px;
$screen-lg      :     1280px;
