$main-color:          #0777ba;
$attention-color:     #d30531;
$grey           :     #969696;
$font-family    :     'PT Sans Caption', Helvetica Neue, sans-serif;
$screen-sm      :     320px;
$screen-md      :     560px;
$screen-lg      :     960px;
